<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.github.clboettcher.bonappetit.app"
        >

    <uses-permission android:name="android.permission.INTERNET"/>
    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/general_app_name"
            android:theme="@style/AppTheme"
            android:name=".core.BonAppetitApplication"
            >
        <activity
                android:name=".ui.takeorders.TakeOrdersActivity"
                android:label="@string/general_app_name"
                android:screenOrientation="portrait"
                >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".ui.selectstaffmember.StaffMembersListActivity"
                android:screenOrientation="portrait"
                />
        <activity
                android:name=".ui.preferences.BonAppetitPreferencesActivity"
                android:screenOrientation="portrait"
                />
        <!--Activity to create/update an order.
        Always hide the soft keyboard when starting the activity.-->
        <activity
                android:name=".ui.editorder.EditOrderActivity"
                android:windowSoftInputMode="stateHidden"
                android:screenOrientation="portrait"
                />
    </application>

</manifest>
